# composer
/vendor
# windows
Thumbs.db
# VS code
*.code-workspace
# My work files
/src/**/!!*
/src/**/_*
/bin/**/!!*
/bin/**/_*
/tests/**/!!*
/tests/**/_*
/!faq-journal.txt
/!buffer
#google
*.drivedownload
#phpunit
/coverage
*.cache
